@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --colorVerde: #c5f82a;
  --colorGrisOne: hsl(0, 0%, 20%);
  --colorGrisTwo: hsl(0, 0%, 12%);
  --colorGrisThree: hsl(0, 0%, 8%);
  --fuenteNormal: 14px;
  --fuenteFamilia: "Inter", sans-serif;
  --colorBlanco: #ffffffd8;
}
.mainDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  justify-content: center;
  background-color: var(--colorGrisThree);
  font-family: var(--fuenteFamilia);
  font-size: var(--fuenteNormal);
  font-weight: 400;
  color: var(--colorBlanco);
}
.divprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  color: var(--colorBlanco);
  width: fit-content;
  height: fit-content;
  padding: 35px 25px;
  background-color: var(--colorGrisTwo);
  font-family: var(--fuenteFamilia);
}
.divprofile img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

.divtext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  letter-spacing: 1px;
}

 h2 {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.5px;
  color: var(--colorVerde)
}

p {
  font-size: calc(var(--fuenteNormal) + 1px);
  letter-spacing: 1px;
  font-weight: 400;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: var(--fuenteNormal);
  font-weight: 600;
  color: #fff;
  width: 350px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--colorGrisOne);
  font-family: var(--fuenteFamilia);
  font-size: calc(var(--fuenteNormal) + 2px);
  letter-spacing: 1px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--colorVerde);
  color: var(--colorGrisOne);
  transition: 0.3s ease-in-out all;
}